### NumPy: Логическое индексирование [Домашнее задание]
> **Вы должны импортировать все необходимые пакеты самостоятельно.**

> **Пишите код только там, где это показано для записи. Не удаляйте комментарии!**

1. Пожалуйста, напишите функцию ```load_data(filename)```, которая будет загружать данные из csv-файла в список списков. Пожалуйста, напишите функцию load_data (имя файла), которая будет загружать данные из csv-файла в список списков. Файл ```Social_Network_Ads.csv``` предоставлен вместе с этим jupyter notebook.


**Примечание:** В случае, если имя файла задано неверно, функция ```load_data``` должна вывести следующее сообщение об ошибке:

```{имя файла} does not exist```

In [3]:
import csv

In [41]:
#Начало вашего кода
def load_data(filename):
    try:
        with open(filename, "r") as file:
            csv_reader = csv.reader(file)
            csv_data = list(csv_reader)
            data = []
            header = csv_data[:1]
            for line in csv_data[1:]:
                data.append(line)
        return (header, data)
    except:
        print(f"{filename} does not exist")
        pass
#Конец вашего кода

In [42]:
filename = "./SocialNetworkAds.csv"
load_data(filename=filename)

./SocialNetworkAds.csv does not exist

### Ожидаемый результат:

```
./SocialNetworkAds.csv does not exist
```

In [20]:
print(header)
print(data)

NameError: name 'header' is not defined

### Ожидаемый результат:

```
None
None
```

In [43]:
filename = "./Social_Network_Ads.csv"
header, data = load_data(filename=filename)

In [44]:
print(header)

[['User ID', 'Gender', 'Age', 'EstimatedSalary', 'Purchased']]

### Ожидаемый результат:

```
['User ID', 'Gender', 'Age', 'EstimatedSalary', 'Purchased']
```

In [46]:
for i in range(5):
    print(data[i])

['15624510', 'Male', '19', '19000', '0']
['15810944', 'Male', '35', '20000', '0']
['15668575', 'Female', '26', '43000', '0']
['15603246', 'Female', '27', '57000', '0']
['15804002', 'Male', '19', '76000', '0']

### Ожидаемый результат:

```
['15624510', 'Male', '19', '19000', '0']
['15810944', 'Male', '35', '20000', '0']
['15668575', 'Female', '26', '43000', '0']
['15603246', 'Female', '27', '57000', '0']
['15804002', 'Male', '19', '76000', '0']
```

2. Пожалуйста, напишите функцию ```preprocess_data(data)```, которая преобразует все элементы типа ```str``` в списке ```data``` в целые числа.


**Подсказка:** в случае "Male" и "Female" возможно следующее преобразование:

* заменить "Male" на число 0

* заменить "Female" на число 1

In [ ]:
#Начало вашего кода

#Конец вашего кода

In [ ]:
filt_data = preprocess_data(data=data)

In [ ]:
for i in range(5):
    print(filt_data[i])

### Ожидаемый результат:

```
[15624510, 0, 19, 19000, 0]
[15810944, 0, 35, 20000, 0]
[15668575, 1, 26, 43000, 0]
[15603246, 1, 27, 57000, 0]
[15804002, 0, 19, 76000, 0]
```

2. Вы должны реализовать функцию ```salary_info(data, gender=None)```. Используя логическое индексирование, рассчитайте максимальное, минимальное, среднее, и стандартное отклонение зарплаты.

In [ ]:
#Начало вашего кода

#Конец вашего кода

In [ ]:
salary_info(filt_data)

### Ожидаемый результат:

```
This statisctics are for both genders:
Max salary: 150000.00 USD
Min salary: 15000.00 USD
Mean salary: 69742.50 USD
Std of salary: 34054.31 USD
```

In [ ]:
salary_info(filt_data, gender="Female")

### Ожидаемый результат:

```
This statisctics are for only Female:
Max salary: 150000.00 USD
Min salary: 15000.00 USD
Mean salary: 71759.80 USD
Std of salary: 35507.89 USD
```

In [ ]:
salary_info(filt_data, gender="male")

### Ожидаемый результат:

```
This statisctics are for only Male:
Max salary: 150000.00 USD
Min salary: 15000.00 USD
Mean salary: 67642.86 USD
Std of salary: 32339.00 USD
```

3. Вы должны реализовать функцию ```age_info(data, gender=None)```. Используя логическое индексирование, рассчитайте максимальное, минимальное, среднее, и стандартное отклонение возрастов.

In [ ]:
#Начало вашего кода

#Конец вашего кода

In [ ]:
age_info(filt_data)

### Ожидаемый результат:

```
This statisctics are for both genders:
Max age: 60.00 years old
Min age: 18.00 years old
Mean age: 37.66 years old
Std of age: 10.47 years
```

In [ ]:
age_info(filt_data,"FEMALE")

### Ожидаемый результат:

```
This statisctics are for only Female:
Max age: 60.00 years old
Min age: 18.00 years old
Mean age: 38.41 years old
Std of age: 10.83 years
```

In [ ]:
age_info(filt_data,"mALE")

### Ожидаемый результат:

```
This statisctics are for only Male:
Max age: 60.00 years old
Min age: 18.00 years old
Mean age: 36.87 years old
Std of age: 10.02 years
```

4. Реализовать функции ```salary_info_purchased(data, gender=None, purchased=None)``` и ```age_info_purchased(data, gender=None, purchased=None)```, возвращая статистику, как в задачах 2 и 3, но в зависимости от того, приобрел ли человек продукт или нет.

In [ ]:
#Начало вашего кода

#Конец вашего кода

In [ ]:
salary_info_purchased(filt_data)
print("\n")
salary_info_purchased(filt_data, gender="Female")
print("\n")
salary_info_purchased(filt_data, gender="Male")
print("\n")
salary_info_purchased(filt_data, purchased=True)
print("\n")
salary_info_purchased(filt_data, gender="Female", purchased=True)
print("\n")
salary_info_purchased(filt_data, gender="Male", purchased=False)
print("\n")

### Ожидаемый результат:

```
This statisctics are for both genders:
Max salary: 150000.00 USD
Min salary: 15000.00 USD
Mean salary: 69742.50 USD
Std of salary: 34054.31 USD


This statisctics are for only Female:
Max salary: 150000.00 USD
Min salary: 15000.00 USD
Mean salary: 71759.80 USD
Std of salary: 35507.89 USD


This statisctics are for only Male:
Max salary: 150000.00 USD
Min salary: 15000.00 USD
Mean salary: 67642.86 USD
Std of salary: 32339.00 USD


This statisctics are for both genders and who purchased:
Max salary: 150000.00 USD
Min salary: 20000.00 USD
Mean salary: 86272.73 USD
Std of salary: 41916.86 USD


This statisctics are for only Female and who purchased:
Max salary: 150000.00 USD
Min salary: 20000.00 USD
Mean salary: 88714.29 USD
Std of salary: 42842.16 USD


This statisctics are for only Male and who did not purchased:
Max salary: 141000.00 USD
Min salary: 15000.00 USD
Mean salary: 59630.77 USD
Std of salary: 23413.72 USD
```

In [ ]:
#Начало вашего кода

#Конец вашего кода

In [ ]:
age_info_purchased(filt_data)
print("\n")
age_info_purchased(filt_data, gender="Female")
print("\n")
age_info_purchased(filt_data, gender="Male")
print("\n")
age_info_purchased(filt_data, purchased=True)
print("\n")
age_info_purchased(filt_data, gender="Female", purchased=True)
print("\n")
age_info_purchased(filt_data, gender="Male", purchased=False)
print("\n")

### Ожидаемый результат:

```
This statisctics are for both genders:
Max age: 60.00 years old
Min age: 18.00 years old
Mean age: 37.66 years old
Std of age: 10.47 years


This statisctics are for only Female:
Max age: 60.00 years old
Min age: 18.00 years old
Mean age: 38.41 years old
Std of age: 10.83 years


This statisctics are for only Male:
Max age: 60.00 years old
Min age: 18.00 years old
Mean age: 36.87 years old
Std of age: 10.02 years


This statisctics are for both genders and who purchased:
Max age: 60.00 years old
Min age: 27.00 years old
Mean age: 46.39 years old
Std of age:  8.58 years


This statisctics are for only Female and who purchased:
Max age: 60.00 years old
Min age: 27.00 years old
Mean age: 47.16 years old
Std of age:  8.41 years


This statisctics are for only Male and who did not purchased:
Max age: 49.00 years old
Min age: 18.00 years old
Mean age: 32.48 years old
Std of age:  7.48 years
```

# Прекрасная работа!