### pandas: Series vs DataFrame [Домашнее задание]
> **Вы должны импортировать все необходимые пакеты самостоятельно.**

> **Пишите код только там, где это показано для записи. Не удаляйте комментарии!**

1. Пожалуйста, напишите функцию ```load_data(filename)```, которая будет загружать данные из csv-файла в ```DataFrame```. Файл ```Social_Network_Ads.csv``` предоставлен вместе с этим jupyter notebook.


**Примечание:**

* В случае, если имя файла задано неверно, функция ```load_data``` должна вывести следующее сообщение об ошибке:

```{имя файла} does not exist```

In [1]:
#Начало вашего кода
import pandas as pd
def load_data(filename):
    try:
        with open(filename) as file:
            data = pd.read_csv(file)
            header = list(data.columns)
        return header, data
    except:
        print(f'{filename} does not exist')
        return None, None
#Конец вашего кода

In [2]:
filename = "./SocialNetworkAds.csv"
header, data = load_data(filename=filename)

./SocialNetworkAds.csv does not exist

### Ожидаемый результат:

```
./SocialNetworkAds.csv does not exist
```

In [3]:
print(header)
print(data)

None
None

### Ожидаемый результат:

```
None
None
```

In [4]:
filename = "./Social_Network_Ads.csv"
header, data = load_data(filename=filename)

In [5]:
print(header)

['User ID', 'Gender', 'Age', 'EstimatedSalary', 'Purchased']

### Ожидаемый результат:

```
['User ID', 'Gender', 'Age', 'EstimatedSalary', 'Purchased']
```

**Распечатайте первые и последние 5 строк pandas.DataFrame:**

In [10]:
#Начало вашего кода
print(data.iloc[:5])
print(data.iloc[-5:])
#Конец вашего кода

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0
      User ID  Gender  Age  EstimatedSalary  Purchased
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

### Ожидаемый результат:

```
User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0
      User ID  Gender  Age  EstimatedSalary  Purchased
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1
```

2. Пожалуйста, реализуйте функцию ```frequency(data,columns)```, которая делает то же самое, что и ```pandas.Series.value_counts()```, за исключением того, что не использует сам этот метод, для всех существующих имен столбцов, указанных во входном аргументе. Входные аргументы:
    * ```data``` должен быть типа pandas.DataFrame
    * ```columns``` должен быть списком список с именами целевых столбцов

Кроме того, 
* если ```data``` не предоставлены, функция должна вернуть сообщение об ошибке.
* если ```columns``` не предоставлен, функция выполняет операцию для всех столбцов ```data```.

In [57]:
#n Начало вашего кода
def frequency(data=None, columns=None):
    if data is not None and columns!=None:
        my_dict = {}
        for column in columns:
            sr = data[column]
            counter = sr.value_counts()
            my_dict[column]=counter
        return my_dict   
    elif data is not None and columns==None:
        columns = data.columns
        my_dict = {}
        for column in columns:
            sr = data[column]
            counter = sr.value_counts()
            my_dict[column]=counter
        return my_dict
    else:
        return "Error: input arguments are not provided properly frequency(data, columns)"
        
#Конец вашего кода

In [58]:
res=frequency(columns=["Gender","EstimatedSalary"])
print(res)

Error: input arguments are not provided properly frequency(data, columns)

### Ожидаемый результат:

```
Error: input arguments are not provided properly frequency(data, columns)
```

In [60]:
res=frequency(data=data,columns=["Gender","EstimatedSalary"])
for key, sr in res.items():
    print(f"Value counts for {key} column:")
    print(sr)
    print("-----------")

Value counts for Gender column:
Female    204
Male      196
Name: Gender, dtype: int64
-----------
Value counts for EstimatedSalary column:
72000     12
80000     11
79000     10
75000      9
71000      9
          ..
123000     1
37000      1
115000     1
148000     1
139000     1
Name: EstimatedSalary, Length: 117, dtype: int64
-----------

### Ожидаемый результат:

```
Value counts for Gender column:
Male      196
Female    204
dtype: int64
-----------
Value counts for EstimatedSalary column:
19000     2
20000     5
43000     7
57000     6
76000     3
         ..
99000     1
129000    1
46000     1
64000     1
139000    1
Length: 117, dtype: int64
-----------
```

In [61]:
res=frequency(data=data)
for key, sr in res.items():
    print(f"Value counts for {key} column:")
    print(sr)
    print("-----------")

Value counts for User ID column:
15624510    1
15767681    1
15589449    1
15791373    1
15688172    1
           ..
15675185    1
15792102    1
15722758    1
15745232    1
15594041    1
Name: User ID, Length: 400, dtype: int64
-----------
Value counts for Gender column:
Female    204
Male      196
Name: Gender, dtype: int64
-----------
Value counts for Age column:
35    32
37    20
26    16
41    16
42    16
39    15
40    15
48    14
47    14
27    13
38    13
28    12
36    12
46    12
31    11
30    11
49    10
29    10
33     9
32     9
24     9
59     7
19     7
45     7
20     7
60     7
34     6
23     6
52     6
25     6
58     6
53     5
57     5
22     5
18     5
21     4
50     4
54     4
55     3
56     3
51     3
43     3
44     2
Name: Age, dtype: int64
-----------
Value counts for EstimatedSalary column:
72000     12
80000     11
79000     10
75000      9
71000      9
          ..
123000     1
37000      1
115000     1
148000     1
139000     1
Name: EstimatedSalary, Length: 117, dtype: int64
-----------
Value counts for Purchased column:
0    257
1    143
Name: Purchased, dtype: int64
-----------

### Ожидаемый результат:

```
Value counts for User ID column:
15624510    1
15810944    1
15668575    1
15603246    1
15804002    1
           ..
15691863    1
15706071    1
15654296    1
15755018    1
15594041    1
Length: 400, dtype: int64
-----------
Value counts for Gender column:
Male      196
Female    204
dtype: int64
-----------
Value counts for Age column:
19     7
35    32
26    16
27    13
32     9
25     6
20     7
18     5
29    10
47    14
45     7
46    12
48    14
49    10
31    11
21     4
28    12
33     9
30    11
23     6
24     9
22     5
59     7
34     6
39    15
38    13
37    20
42    16
40    15
36    12
41    16
58     6
55     3
52     6
60     7
56     3
53     5
50     4
51     3
57     5
44     2
43     3
54     4
dtype: int64
-----------
Value counts for EstimatedSalary column:
19000     2
20000     5
43000     7
57000     6
76000     3
         ..
99000     1
129000    1
46000     1
64000     1
139000    1
Length: 117, dtype: int64
-----------
Value counts for Purchased column:
0    257
1    143
dtype: int64
-----------
```

3. Пожалуйста, реализуйте функцию ```frequency_easy(data,columns)```, которая делает то же самое, что ```frequency(data,columns)```, за исключением того, что вы можете использовать ```pandas.Series.value_counts()```, для всех существующих имен столбцов, указанных во входном аргументе. Входные аргументы: 
    * data должен быть типа pandas.DataFrame
    * columns должен быть списком список с именами целевых столбцов

Кроме того,
* если data не предоставлены, функция должна вернуть сообщение об ошибке.
* если columns не предоставлен, функция выполняет операцию для всех столбцов data.

In [69]:
#Начало вашего кода
def frequency_easy(data=None, columns=None):
    if data is not None and columns!=None:
        my_dict = {}
        for column in columns:
            counter = data[column].value_counts()
            my_dict[column]=counter
        return my_dict   
    elif data is not None and columns==None:
        columns = data.columns
        my_dict = {}
        for column in columns:
            counter = data[column].value_counts()
            my_dict[column]=counter
        return my_dict
    else:
        return "Error: input arguments are not provided properly frequency(data, columns)"
#Конец вашего кода

In [70]:
res=frequency_easy(columns=["Gender","EstimatedSalary"])
print(res)

Error: input arguments are not provided properly frequency(data, columns)

### Ожидаемый результат:

```
Error: input arguments are not provided properly frequency_easy(data, columns)
```

In [71]:
res=frequency_easy(data=data,columns=["Gender","Age"])
for key, sr in res.items():
    print(f"Value counts for {key} column:")
    print(sr)
    print("-----------")

Value counts for Gender column:
Female    204
Male      196
Name: Gender, dtype: int64
-----------
Value counts for Age column:
35    32
37    20
26    16
41    16
42    16
39    15
40    15
48    14
47    14
27    13
38    13
28    12
36    12
46    12
31    11
30    11
49    10
29    10
33     9
32     9
24     9
59     7
19     7
45     7
20     7
60     7
34     6
23     6
52     6
25     6
58     6
53     5
57     5
22     5
18     5
21     4
50     4
54     4
55     3
56     3
51     3
43     3
44     2
Name: Age, dtype: int64
-----------

### Ожидаемый результат:

```
Value counts for Gender column:
Female    204
Male      196
Name: Gender, dtype: int64
-----------
Value counts for Age column:
35    32
37    20
41    16
42    16
26    16
39    15
40    15
47    14
48    14
38    13
27    13
28    12
46    12
36    12
31    11
30    11
29    10
49    10
32     9
33     9
24     9
20     7
19     7
60     7
59     7
45     7
25     6
34     6
58     6
52     6
23     6
57     5
22     5
18     5
53     5
21     4
50     4
54     4
55     3
43     3
56     3
51     3
44     2
Name: Age, dtype: int64
-----------
```

# Прекрасная работа!